
@{
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";


}

<h1>Welcome to the Admin Panel</h1>
<h2>Hi Admin!</h2>
<p>
	You can manage your shopping Categories,Brands,Products & can see Users from the side-bar
	<i class="fa-solid fa-face-smile"></i>

</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Thank you!</h1>


