@model e_shop.Models.ViewModel.CheckoutViewModel
@{
    Layout = "~/Views/Shared/_Layoutforallpage.cshtml";
}




<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                <div class="row">
                    <form asp-action="Checkout" method="post">
                        <div>
                            <label>Full Name</label>
                            <input asp-for="FullName" required class="form-control" />
                        </div>
                        <div>
                            <label>Email</label>
                            <input asp-for="Email" type="email" required class="form-control" />
                        </div>
                        <div>
                            <label>Address</label>
                            <input asp-for="Address" required class="form-control" />
                        </div>
                        <div>
                            <label>Phone</label>
                            <input asp-for="Phone" required class="form-control" />
                        </div>

                        <h4>Cart Summary</h4>
                        <table class=" table-responsive table-bordered " > 
                            <thead>
                                <tr>
                                    <th>Product </th>
                                    <th>Quantity</th>
                                    <th>Price </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CartItems)
                                {
                                    <tr class="table-bordered">
                                        <td>@item.product.ProductName</td>
                                        <td class="text-center">@item.quantity</td>
                                        <td>@(item.product.Srice* item.quantity)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <p><strong>Total:</strong> @Model.TotalAmount</p>

                        <button type="submit">Proceed</button>
                    </form>

</div>
         </div>
            </div>
    </div>
</div>
<!-- Checkout End -->
