@{
    Layout = null;
}


<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content=" Today in this blog you will learn how to create a responsive Login & Registration Form in HTML CSS & JavaScript. The blog will cover everything from the basics of creating a Login & Registration in HTML, to styling it with CSS and adding with JavaScript." />
    <meta name="keywords"
          content="
 Animated Login & Registration Form,Form Design,HTML and CSS,HTML CSS JavaScript,login & registration form,login & signup form,Login Form Design,registration form,Signup Form,HTML,CSS,JavaScript,
" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login & Signup Form HTML CSS | CodingNepal</title>
    <link rel="stylesheet" href="/Login/style.css" />
    <script src="../custom-scripts.js" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    @if (TempData["Message"] != null)
    {
        <script>
            Swal.fire({
                title: "@TempData["Title"]",
                text: "@TempData["Message"]",
                icon: "@TempData["Icon"]",

            });
        </script>
    }

    <section class="wrapper">
        <div class="form signup">
            <header>Signup</header>
            <!-- Public Signup Form -->
            <form asp-action="Register" method="post" id="signupForm">
                <input type="text" name="txtName" placeholder="Full name" required />
                <input type="text" name="txtEmail" placeholder="Email address" required />
                <input type="password" name="txtPass" placeholder="Password" required />
                <input type="password" name="txtCPass" placeholder="Confirm Password" required />

                <div class="checkbox">
                    <input type="checkbox" id="signupCheck" name="acceptTerms" />
                    <label for="signupCheck">I accept all terms & conditions</label>
                </div>

                <input type="submit" value="Signup" id="signupBtn" disabled />
            </form>


        </div>

        <div class="form login">
            <header>Login</header>
            <form asp-action="LoginCheck" method="post">
                <input type="text" name="txtEmail" placeholder="Email address" required />
                <input type="password" name="txtPass" placeholder="Password" required />

                <a href="#">Forgot password?</a>
                <input type="submit" value="Login" />
            </form>


        </div>
         
        
        <script>
            const wrapper = document.querySelector(".wrapper"),
              signupHeader = document.querySelector(".signup header"),
              loginHeader = document.querySelector(".login header");

            loginHeader.addEventListener("click", () => {
              wrapper.classList.add("active");
            });
            signupHeader.addEventListener("click", () => {
              wrapper.classList.remove("active");
            });
        </script>

        <script>
            const signupCheck = document.getElementById('signupCheck');
            const signupBtn = document.getElementById('signupBtn');

            signupCheck.addEventListener('change', function () {
                signupBtn.disabled = !this.checked;
            });
        </script>

    </section>
</body>
</html>
